@model UFGBank.Areas.Identity.Data.UFGBankUser
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <p class="display-4">Welcome back @Model.FirstName @Model.LastName</p>
        <h1>Your Balance : @Model.Balance</h1>
        <br />
        <div>
            <span class="">
                <a asp-controller="Transaction" asp-action="Deposit"><input type="button" class="btn btn-primary" value="Depositos" />></a>
            </span>
        </div>
        <br />
        <br />
        <div>
            <span class="itemcenter">
                <a asp-controller="Transaction" asp-action="Withdraw"><input type="button" class="btn btn-primary" value="Retiros" />></a>
            </span>
        </div>  
        <br />
        <br />
        <div>
            <span class="itemright">
                <a asp-controller="Transaction" asp-action="PersonalTransactions"><input type="button" class="btn btn-primary" value="Transacciones" />></a>
            </span>
        </div>


</div>
